.whatheader{  
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 160%;
  /* or 22px */
  
  letter-spacing: 0.1em;
  
  /* gray-dark */
  
  color: #666666;

  margin: 10px;
  vertical-align: middle;
}

.quizheader{
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 160%;
  /* or 22px */

  letter-spacing: 0.1em;

  /* gray-dark */

  color: #666666;

  margin: 10px;
  vertical-align: middle;
}

.header{
  /* header */
  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
}

.logo{
  /* logo */
  width: 148px;
  height: 27.53px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;

  margin: 10px;
  margin-left: 30px;
}

.icon-circle{
  border: 1px solid #EEEEEE;
  border-radius: 50%;
  padding: 5px;
  margin: 10px;
  /* position: relative; */
}

.header-right{
  text-align: right;
  display: flex;
}

.icon-image{
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%); */
}

.text-header-margin{
  margin:0 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}